.justify-content-center{
  /* background-image: url(/src/images/bestbg.jpeg); */
  background-size:auto;
  padding-top: 20px;
  height: 80px;
  width: 100%;
}

.card{
  border-radius: 10px;
  transition: 0.5s;
  background-color:transparent;
border: none;
}
.card:hover{
transform: translateY(10px);
  opacity: 1;
  box-shadow: 10px 7px 20px;
  border: rgb(168, 162, 162); 
}

.cardbody{
font-family: "ABeeZee", sans-serif;
color: rgb(240, 44, 77);
font-weight: bolder;
background-color: transparent;
}

h1{
  /* font-size: 17px; */
  font-family: "ABeeZee", sans-serif;
  
  color: rgb(243, 18, 56); /* Default color for Nav.Link */
}
h1:active{
  color: rgb(143, 31, 31);
}

h1:hover { 
  color: gray; 
}

.nav-item-spacing {
  margin-right: 20px; /* Add margin to create space between Nav.Items */
}